/*<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">*/
/* latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(./fonts/Quicksand%20Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body{margin: 0;padding: 0;font-family: "Microsoft YaHei", sans-serif;font-size: 14px;background: #f9f9f9;}
.container{width: 1160px;margin: auto;padding: 0;background: #fff;}
.head{ height: 240px; background: #f1f1f1; }
.head img{  vertical-align: middle; }
.head .name{ padding-left: 40px; display: inline-block; vertical-align: middle; font-size: 70px; }
.head .name .cn{ color: #3c699b; }
.head .name .en{ color: #666; font-size: 60px; font-family: 'Quicksand', sans-serif; }
.head .right {float: right;margin-top: 48px;text-align: right;padding: 0 40px;}
.head .right .job{font-weight: 700;font-size: 24px;color: #3c699b;padding-bottom: 20px;border-bottom: 1px solid #d6d6d6;}
.head .right .wrap{line-height: 2.5;margin-top: 28px; color: #666; }
.head .right .wrap .icon{ font-size: 12px; margin-right: 6px; }
.head .right .wrap .phone .icon{ vertical-align: 1px; }
.bd .left{ width: 200px; color: #3c699b; font-size: 16px; }
.bd .media{ margin-top: 30px; }
.bd .media-body{ padding-bottom: 20px; border-bottom: 2px solid #ccc; position: relative; overflow: visible; }
.bd .media-body:after{ display: block; content: ''; border-bottom: 2px solid #333; width: 100px; position: absolute; bottom: -2px; left: 0; }
.bd .media-body .wrap{ margin-top: 30px; }
.bd .media-body .wrap:first-child{ margin-top: 0; }
.bd .media-body .wrap:first-child p{ margin-top: 0; }

.container > .title { font-size: 20px; text-align: center; margin: 30px 0 20px; color: #666; }
.container > .content { padding: 20px; background: #fff; }
.container > .content > ul > li { margin-top: 24px; border-bottom: 1px solid #ccc; padding-bottom: 20px; }
.container > .content > ul > li p:last-child{ margin-bottom: 0; }
.container > .content li:first-child { margin-top: 0; }
.time-progress {list-style: none;padding: 0;}
.time-progress:after{ content: ''; clear:both; display:block; overflow:hidden; height: 0; }
.time-progress li {margin-bottom: 30px;}
.time-progress li .wrap{ position: relative; width: 460px; background: #fff; padding: 20px; background: #f9f9f9; }

.time-progress li .wrap .time{ position: absolute; background: #3c699b; width: 124px; text-align: center; display: block; padding: 6px; font-size: 12px; border-radius: 4px;  color: #fff; }
.time-progress li .wrap .title{ font-size: 16px; }
.time-progress li .wrap .content{  }
.time-progress li .wrap .content label{ color: #999; }

.time-progress li:nth-child(odd) .wrap{float: right;margin-right: 100px;}

.time-progress li:nth-child(even) .wrap{float: left;margin-left: 100px;}

.time-progress li:nth-child(odd) .wrap .time {left: -164px;top: -4px;}
.time-progress li .wrap:before{ content: ''; width: 18px; height: 18px; border-radius: 50%; display: block; position: absolute; border: 1px solid #ccc;background: #f9f9f9;}

.time-progress li:nth-child(odd) .wrap:before{left: -30px;top: 0;}
.time-progress li:nth-child(even) .wrap:before{right: -28px;top: 0;}

.time-progress li:nth-child(even) .wrap .time{right: -164px;top: -4px;}
.time-progress li .wrap:after{height: 110%;display:block;content: '';position: absolute;top: 18px;right: -19px;border-left: 1px dotted #ccc;}

.time-progress li:nth-child(odd) .wrap:after{left: -22px;}
.time-progress li:nth-child(even) .wrap:after{  }

.time-progress li .wrap{}